body{
    background-color: #232128;
    max-width: 100vw;
    margin: 0;
    
}

.denuncias {

    display: flex; /* Utiliza flexbox para centrar los elementos */
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    grid-template-columns: 1fr;
    width: 90vw;
    max-width: 90vw;
    height: 80vh;
    max-height: 80vh;
    margin: auto;
    padding: 2vh 1vw;
    gap: 2vh 0vw;

}

.hacerDenunciasContainer {
    width: 100%;
    max-width: 100%;
    height: 60vh;
    max-height: 60vh;
    padding: 0;
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.denunciasMore {
    width: 100%;
    height: 80vh;
    display: grid; /* Añadir esta línea */
    grid-template-columns: 2fr 1fr;
    border-radius: 14px;
    gap: 2vh;

}

.hacerOtrasDenunciasContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 14px;
    gap: 2vh;

}

.otrasDenunciasContainer {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);


}

.reportesDenunciasContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);


}

.imagenUltimoReporte {
    height: 50%;
    /* Agregar reglas según sea necesario para el ajuste de la imagen */
    border-radius: 14px;

}

.reporteAlertIcon {
    /* Estilos correspondientes al icono o contenido */
}

.reporteTile{
}

.title1{
    position: relative;
    bottom: 10px;
    padding-left: 2vw;
    font-size: 40px;
}
.title2{
    padding-left: 2vw;
    font-size: 22px;
}
.title3{
    padding-left: 2vw;
    font-size: 32px;
}

.subTitle{
    padding-left: 2vw;
    color: white;
    font-size: 18px;
    position: relative;
}

.subTitle2{
    padding-left: 2vw;
    font-size: 18px;
}


/*  PC SCREEN */
@media (min-width: 1080px) {

    body{
   
    }

    .denuncias {
        position: fixed;
        z-index: 1500;
        top: 0;

        display: flex; /* Utiliza flexbox para centrar los elementos */
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: center; /* Centra los elementos verticalmente */
        justify-content: center; /* Centra los elementos horizontalmente */
        grid-template-columns: 1fr 1fr;
        width: 90vw;
        max-width: 90vw;
        height: 95vh;
        max-height: 100vh;
        margin: auto;
        padding: 2vh 1vw;
        gap: 2vh 0vw;
        right: 0;
        /* From https://css.glass */
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.2px);
-webkit-backdrop-filter: blur(11.2px);
    
    }
    
}