.recursosContainer{
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    grid-template-columns: 1fr;
    width: 100vw;
    max-width: 98vw;
    height: 90vh;
    max-height: 90vh;
    margin: auto;
    padding: 2vh 1vw;
    gap: 2vh 0vw;
    background-color: #9e5cdc;

}

.titleContainer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 95%;
    margin: auto;
    max-width: 100%;
    height: 35vh;
    max-height: 60vh;
    padding: 0;
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: #232128;
    color: #9e5cdc;
}

.headerIcon{
    padding: 3vh 8vw;
    }

.title{
    position: relative;
    bottom: 10px;
    padding-left: 2vw;
    font-size: 40px;
    margin: 0;
    padding-top: 10vh;
    padding-left: 5vh;
}
.subTitle{
padding-left: 2vw;
color: white;
font-size: 18px;
position: relative;
border-radius: 14px;
margin: 0;
padding-left: 5vh;
}
.recursos{
    width: 94%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2vw;

}
.recursosOutline{
    
}
.recursoContainer{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 10vh;
    background-color: #9e5cdc;
    border-radius: 14px;
    border: solid 2px #232128;
    border-color: #232128;
    color: #b9ff39;
    margin: 0.6vh 1vw;
    box-shadow: 5px 5px 0 3px #232128;

}

.recursoContainer:hover{
    background-color: #b9ff39;
    color: #9e5cdc;
    box-shadow: 0px 0px 0px;

}

.icon{
    padding: 0vh 2vw;
    margin-top: 2vh;
    text-align: right; 

}

.iconName{
    color: black;
    font-size: 1rem;
    padding: 0vh 3vw;   
    margin: 0;
    align-self: center;
}


@media (min-width: 768px) {
    .recursosContainer{
            border: solid 6vh;
            border-right: solid 17vw;
            background-color:  rgba(0, 0, 0, 0.0);
            border-color: #9e5cdc;
            position: fixed;
            z-index: 1500;
            top: 12vh;
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            width: 50vw;
            max-width: 90vw;
            height: 35vh;
            max-height: 100vh;
            margin: auto;
            padding: 2vh 1vw;
            gap: 2vh 0vw;
            left: 15vw;
            /* From https://css.glass */
            border-radius: 0px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(11.2px);
            -webkit-backdrop-filter: blur(11.2px);
    
        

    }
    .titleContainer{
    position: absolute;
    left: -10px;
    width: 30vw;
    height: 40vh;
    max-height: 60vh;
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.0);
    background-color: #9e5cdc;
    }

    .title{
        position: relative;
        bottom: 0vh;
        padding-left: 4vw;
        font-size: 40px;
        color: #232128;
        
    }

    .subTitle{
        padding-left: 4vw;
        padding-top: 2vh;
    }

.mapBlur{
    position: absolute;
    z-index: 2000;

    width: 100vw;
    height: 100vh;
     /* From https://css.glass */
     border-radius: 0px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(10px);
     -webkit-backdrop-filter: blur(11.2px);


}
}