.recursosContainer{
    width: 100vw;
    height: 90vh;

}

.recursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2vw;

}
.recursosOutline{
    
}
.recursoContainer{
    background-color: #9e5cdc;
    border-radius: 14px;
    color: white;
    margin: 0.1vh 0vw;
    display: grid;
    grid-template-columns: 1fr;
}

.recursoContainer:hover{
    background-color: white;
    color: #9e5cdc;
}

.icon{
    padding: 0vh 2vw;
    margin-top: 2vh;
    text-align: right; 

}

.iconName{
    color: black;
    font-size: 1.2rem;
    padding: 0vh 2vw;   
}


@media (min-width: 768px) {
    .recursosContainer{
        width: 80vw;
        height: 90vh;
        margin-left: 10vw;
    
    }


}