
.nosotrxs{
    background-color: white;
    height: 100vh;
}

.decoNosotrxs{
    height: 25vh;
    background-color: #b9ff39;
}

.titulosNosotrxs{
    padding-left: 10vw;
    padding-top: 10vh;
}

.bajadaNosotrxs{
    padding-left: 10vw;
}

.logos{
    padding-left: 10vw;
}