.Screen{
    position: fixed;
    bottom: 25vh; 
    left: 0;
    z-index: 1000;
    height: 15vh;
display:  grid;
grid-template-columns: 1fr 1fr;
width: 100vw;
margin-left: 10vw;


}

.ComisariaScreen{
 padding: 0vh 4vw;
border: solid 1px;
z-index: 1000;
backdrop-filter: blur(11.2px);
-webkit-backdrop-filter: blur(11.2px);


}

.AutoridadesScreen{
    padding: 2vh 4vw;    
    width: 8vw;
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);

}

@media (min-width: 1000px) {
    
    .Screen{
        position: relative;
        margin-top: 25vh;
        display:  grid;
        grid-template-columns: 1fr;
        width: 20vw;
        margin-left: 10vw;
        
        }


        .ComisariaScreen{
            margin-top: 30vh;

        }
  }
  