
.gatillo {
    width: 15px;
    height: 15px;
    color: #db8821;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transform: translate(-20%, -20%);
}


.gatillo:hover {
    width: 15px;
    height: 15px;
    color: white;
    position: absolute;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transform: translate(-20%, -20%);
}

