/* Navbar.module.css */
.Boton {
  border: none;  /* Elimina el borde */
  padding: 0;
  font: inherit;
  cursor: pointer;
  color: #b9ff39;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  text-justify: center;
  justify-items: center;
  justify-self: center;

}

/* Estilos base para la Navbar */
.Navbar {
  z-index: 1000;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  bottom: 0;
  width: 100vw;
  max-width: 100vw;
  height: 10vh;
  background-color: #231c26;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  text-justify: center;
  justify-items: center;
  justify-self: center;
}

/* Media query para tablet */
@media (min-width: 768px) {
  .Navbar {
    position: absolute;
    bottom: 0;
    width: 10vw;
    height: 100vh;
    grid-template-columns: 1fr;
    left: 0;
    align-items: normal;
    align-self: normal;
    align-content: normal;
    justify-content: center;
    text-justify: center;
    justify-items: center;
    justify-self: center;
  }

  .Boton{
    color: #2a8842;

  }

  .Boton:hover{
    color: white;

  }



}

