.todasContainer{
  position: fixed;
  top: 100vh;
  height: 250vh;
  width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    gap: 0vh;
    max-width: 95%;
    padding-bottom: 10vh;
}

.investContainer{
  width: 90vw;
background-color: yellowgreen;
}

.dataContainer{
  padding-left: 2vw;
  padding-right: 2vw;
}

.tituloInvestigacion{
  margin: 0;
  margin-top: 0vh;
}

.fotoInvestigacion{
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    object-fit: cover; 
    width: 100%;
    height: 25vh;
}

.autorxFecha{
  margin: 0;
}

/* TodasInvestigaciones.module.css */

.informeBackground {
    background-color: white; /* Reemplaza #color-informe con el color que desees para informe */
  }
  
  .expedienteBackground {
    background-color: black; /* Reemplaza #color-expediente con el color que desees para expediente */
  }
  
  .reporteBackground {
    background-color: green; /* Reemplaza #color-reporte con el color que desees para reporte */
  }
  
  .linkInvestigacion{
    border-radius: 14px;
    width: 90%;
    justify-self: left;
  margin:  auto;

  }

  .span{
  color: blue;
  font-size: 1.3rem;
  margin: 0;
  padding: 1vh 2vw;
  border-left: solid 4px;
  margin-top: 4vh;

  }

  subTitle{
    padding-top: 8vh;
    padding-bottom: 2vh;
    font-size: 1.6rem;
    margin: 0
  }  

  p{
    margin: 0;
  padding: 1vh 0vw;  }
  
  .NotaContainer{
    padding: 0vh 7vw;
    text-align: justify;
  }
 

/* Media query para tablet */
@media (min-width: 768px) {

    .todasContainer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 1vh 1vw;
        width: 80vw;
        
    }

}