
.data{
    margin: auto;
    margin-top: 10vh;
    max-width: 60vw;
    padding: 5vh 10vw;
    border: solid 2px green;
    background-color: #231c26;
    color: green;
}

.name{
    font-size: 1.5rem;
    color: violet;
}

